body {
    font-family: sans-serif;
  }
  
  .modalShell {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    width: 300px;
  }
  
  .modalTitle {
    font-size: 30px;
    font-weight: bold ;
  }
  
  .modal p {
    font-size: 15px ;
  }
  
  .closeModal {
    text-align: right ;
  }